<h1> Complain here </h1>
<p> Please why don't you rant about some ridicolous thing
  we will or will not delete your entry. But go ahead write away... if you must</p>

  <form method="post" action="/gwall/post">
    <input type="text" name="username" placeholder="Identify Yourself">
    <input type="url" name="image" placeholder="Image Link">
    <textarea name="rant" rows="10" placeholder="RANT away over here"></textarea>
    <input type="submit">
  </form>
